<nav class="navbar navbar-dark bg-dark navbar-expand-lg" >
    <nav class="navbar navbar-light bg-ligth">
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
                <a class="nav-link"  routerLink="/inicio">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link"  routerLink="/pedido" title="Pedido">Pedido </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/mapa" title="Seleccionar un punto del Mapa">Mapa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/destino" title="Destino">Destino</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/pago" title="forma de Pago">Forma Pago</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#">Acerca de</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="">Bienvenido: ISW - TP6</a></li>
            <li class="nav-item"><a class="nav-link" href="">Cerrar Sesion</a></li>
        </ul>
    </div>
</nav>